{{! Main docs site template }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}} | Skier Docs</title>
  <link rel="stylesheet" href="/assets/docs.css" />
</head>
<body>
  {{> header }}
  <div class="docs-container">
    <aside class="sidebar">
      {{> sidebar }}
    </aside>
    <main class="content">
      {{{content}}}
    </main>
  </div>
  {{> footer }}
</body>
</html>
