<footer class="docs-footer">
  <p>Made with ⛷️ by <a href="https://ripixel.co.uk" target="_blank" rel="noopener">James King</a>. &copy; {{year}}</p>
  <p>Licensed under <a href="https://github.com/ripixel/skier/blob/main/LICENSE" target="_blank" rel="noopener">MIT</a>
  </p>
</footer>
