<header class='docs-header'>
  <a href='/' class='logo'>
    <img src="/assets/skier-easter-egg.svg" alt="" aria-hidden="true" style="width: 40px; margin-right: 10px;" /> Skier
    Docs</a>
</header>
