<nav class='sidebar-nav'>
  <ul>
    <li><a href='/getting-started'>Getting Started</a></li>
    <li><a href='/configuration'>Configuration</a></li>
    <li><a href='/tasks'>Tasks</a></li>
    <li><a href='/builtins'>Built-In Tasks</a></li>
    <li><a href='/custom-tasks'>Custom Tasks</a></li>
    <li><a href='/templates-partials'>Templates & Partials</a></li>
    <li><a href='/markdown-frontmatter'>Markdown & Frontmatter</a></li>
    <li><a href='/faq'>FAQ</a></li>
    <li><a href='/contributing'>Contributing</a></li>
  </ul>
</nav>
